
kind: Secret
apiVersion: v1
metadata:
  name: csi-manila-secret
  namespace: kube-system
stringData:
  os-authURL: {{ os_authURL }}
  os-region: {{ os_region }}
  os-applicationCredentialID: {{ os_applicationCredentialID }}
  os-applicationCredentialName: {{ os_applicationCredentialName }}
  os-applicationCredentialSecret: {{ os_applicationCredentialSecret }}
