
kind: Secret
apiVersion: v1
metadata:
  name: csi-manila-secret
  namespace: kube-system
stringData:
  os-authURL: {{ auth_url }}
  os-region: {{ region }}
  os-applicationCredentialID: {{ app_credential_id }}
  os-applicationCredentialName: {{ app_credential_name }}
  os-applicationCredentialSecret: {{ app_credential_secret }}
