#!/bin/bash
DATASTORE_TYPE=kubernetes \
{% if is_delegated_task | default(false) %}
KUBECONFIG="{{ tenant_cluster_kubeconfig }}" \
{{ local_bin_dir }}/{{ calico_version }}/calicoctl --allow-version-mismatch "$@"
{% elif 'kube_control_plane' in group_names %}
KUBECONFIG=/etc/kubernetes/admin.conf \
{{ bin_dir }}/calicoctl --allow-version-mismatch "$@"
{% else %}
KUBECONFIG=/etc/cni/net.d/calico-kubeconfig \
{{ bin_dir }}/calicoctl --allow-version-mismatch "$@"
{% endif %}